REACT_APP_API_URL=https://collabo-backend-y2de.onrender.com/api

REACT_APP_INSTAGRAM_CLIENT_ID=your_instagram_client_id_here

REACT_APP_YOUTUBE_CLIENT_ID=your_youtube_client_id_here

# PostgreSQL Database Configuration
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
DB_SSLMODE=prefer
DATABASE_URL=postgresql://postgres:your_password_here@localhost:5432/postgres
